:root {
    --bg-image: url();
}

.body {
    background-color: #121212 !important;
}

.md-search-icon{
    display: none !important;
}

a[rel="next"]{
    display: none !important;
}

a[rel="prev"]{
    display: none !important;
}