:root {
    --bg-image: url(https://i.pinimg.com/originals/a1/fd/20/a1fd204bff5e5fa57f1b75b6077f5824.gif);
    --bg-color: #0303036b;
    --primary-color: #fafafa;
    --secondary-color: #05fffe;

    cursor: url("assets/img/cuore.svg"), auto;
    background-image: var(--bg-image);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100% !important;
}

@font-face {
    font-family:"deltarune" ;
    src: url(assets/fonts/deltarune.ttf);
} @font-face {
    font-family: "crypt";
    src: url(assets/fonts/crypt-of-tomorrow-ut-font-no-rus.ttf);
} @font-face {
    font-family: "esteso" ;
    src: url(assets/fonts/undertale-deltarune-text-font-extended.otf.ttf);
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--bg-color) !important;
} ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: var(--bg-color) !important;
} ::-webkit-scrollbar-thumb {
    background: var(--primary-color) !important;
    cursor: pointer;
    transition: all 1.5s ease;
} ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color) !important;
}

*, a {
    color: var(--primary-color) !important;
    scroll-behavior: smooth !important;
} a:hover {
    color: var(--secondary-color) !important;
    text-shadow: 0 0 0.75rem var(--secondary-color);
} h1 {
    font-family: "deltarune", sans-serif !important;
    font-size: 7.5rem !important;
    line-height: 8.5rem !important;
    text-align: center;
    text-transform: capitalize !important;
} h2, h3, h4, h5, h6 {
    font-family: "crypt", sans-serif !important;
    text-align: center;
    line-height: 8.5rem !important;
    text-transform: capitalize !important;
} p, li, a {
    font-family: "esteso", sans-serif !important;
    line-height: 2.5rem;
    font-size: 0.8rem !important;
} ul, ol {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
} #component-site-name {
    font-family: "deltarune", sans-serif !important;
    font-size: 3.5rem !important;
    line-height: 6rem !important;
    text-transform: capitalize !important;
}

body {
    display: table;
    padding: 1rem !important;
} body, body > .container {
    background-color: var(--bg-color) !important;
    backdrop-filter: blur(6px) !important;
    height: 100% !important;
    width: 100% !important;
    justify-self: center;
    margin: 0;
    padding: 0;
} body > .container {
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    box-shadow: 0 0 1.5rem var(--primary-color);
    height: calc(100% - 4rem) !important;
    max-width: none;
    padding: 1.5rem !important;
} .container > header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color) !important;
    backdrop-filter: blur(16px) !important;
    text-shadow: 0 0 0.75rem var(--primary-color);
    box-shadow: 0 0 0.75rem var(--primary-color);
    border: 1px solid;
} .container > header > .border-bottom {
    border: none !important;
}

.navbar > .container-fluid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
} .md-search-icon {
    display: none !important;
} .navbar-toggler {
    filter: invert(1);
    width: 100%;
} .nav-link {
    letter-spacing: 0.3rem;
}

a[rel="next"]{
    display: none !important;
} a[rel="prev"]{
    display: none !important;
}

#heart-image {
    transform: scale(1.5);
    animation: pulseHeart 1.25s infinite cubic-bezier(0.22, 0.61, 0.36, 1);
    filter: drop-shadow(0 0 0.4rem red);
    user-select: none;
    pointer-events: none;
    cursor: auto;
} .glightbox:has(> #heart-image){
    vertical-align: middle !important;
    user-select: none;
    pointer-events: none;
    cursor: auto;
}

#component-footer {
   display: none;
}

.ost-player {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10rem;
    background-color: var(--bg-color);
    backdrop-filter: brightness(0.25);
    border: 1px solid var(--primary-color);
    z-index: 1000;
    padding: 1.5rem;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
} .ost-player-track-selector {
    width: 25%;
    font-family: 'esteso';
    font-size: 0.75rem;
    text-align-last: center;
    background-color: var(--bg-color);
    cursor: pointer;
} .ost-player-trackbar {
    width: 75%;
}

@keyframes pulseHeart {
    0% {
        transform: scale(1.5);
        filter: drop-shadow(0 0 0.1rem red);
    }
    25% {
        transform: scale(1.8);
        filter: drop-shadow(0 0 0.8rem red);
    }
    100% {
        transform: scale(1.5);
        filter: drop-shadow(0 0 0.1rem red);
    }
}